<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'EasyQuiz' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>a0f6024c-f33e-449d-8757-eadd2413da57</InstrumentationKey>
</ApplicationInsights>